{% extends "one-plugin-fields/_layouts/elementindex" %}

{% set title = "SVG Icons Packs"|t('one-plugin-fields') %}
{% set crumbs = [
    { label: settings.pluginName, url: url("one-plugin-fields") },
    { label: "SVG Icons Packs"|t("one-plugin-fields"), url: url("one-plugin-fields/galleries") },
]
%}
{% set elementType = 'oneplugin\\onepluginfields\\elements\\SVGIconPack' %}
{% set selectedSubnavItem = 'svg-icon-packs' %}
{% block actionButton %}
    <div class="buttons">
        <a id="create-new-svg-icon-pack" class="btn submit add icon" href="{{ url('one-plugin-fields/svg-icons/new') }}">{{ "New SVG Icon Pack"|t('one-plugin-fields') }}</a>
    </div>
{% endblock %}


{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}
